p {
	text-align: justify;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-brand > img {
	display: inline-block; 
	width: 42px; 
	height: 42px;
}

.small-flag {
	width: 20px;
	height: 16px;
}

.small-game-icon {
	width: 16px;
	height: 16px;
}

.footer-logo {
	width: 129px; 
	height: 118px;
	opacity: 1.0;
}

.footer-logo:hover {
	opacity: 0.8;
}